<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="CakeStore" value="https://github.com/GI-Corp/cake-store.git"/>
	</packageSources>
	<packageSourceCredentials>
		<CakeStore>
			<add key="Username" value="YourUserName" />
			<add key="ClearTextPassword" value="YourPassword" />
		</CakeStore>
	</packageSourceCredentials>
</configuration>